@font-face { 
  font-family:"Graphik";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url("https://d1m1s6un1a8qgj.cloudfront.net/static/fonts/Graphik-Regular.otf") format("opentype");
} 
@font-face { 
  font-family:"Graphik";
  font-style:normal;
  font-weight:500;
  font-display:swap;
  src:url("https://d1m1s6un1a8qgj.cloudfront.net/static/fonts/Graphik-Medium.otf") format("opentype");
} 
@font-face { 
  font-family:"Graphik";
  font-style:normal;
  font-weight:bold;
  font-display:swap;
  src:url("https://d1m1s6un1a8qgj.cloudfront.net/static/fonts/Graphik-Medium.otf") format("opentype");
} 
  body {  
    font-family:var(--primaryFontFamily);
    color:var(--black);
    font-size:16px;
    line-height:26px;
  }  
* { 
    box-sizing: border-box;
} 

* { 
    font-family: var(--primaryFontFamily);
} 

body { 
    background-color: var(--page-bg,#0000);
} 

body { 
    color: var(--black); 
    font-size: 16px; 
    height: 100vh; 
    line-height: 26px; 
    margin: 0; 
    min-width: 360px; 
    padding: 0; 
    width: 100%;
} 

html { 
    color: var(--black); 
    font-size: 16px; 
    height: 100vh; 
    line-height: 26px; 
    margin: 0; 
    min-width: 360px; 
    padding: 0; 
    width: 100%;
} 

:root { 
    --black: #141417; 
    --white: #fff; 
    --off-white: #faf9f8; 
    --yellow: #fefdbf; 
    --soft-red: #f9f0f0; 
    --soft-orange: #fff4e3; 
    --soft-green: #f7fcec; 
    --soft-blue: #f5f8ff; 
    --soft-teal: #f8ffff; 
    --soft-violet: #f9f6ff; 
    --soft-grey: #e5ecec; 
    --soft-beige: #e9e7e4; 
    --medium-orange: #ffe0a9; 
    --medium-green: #def2b1; 
    --medium-blue: #e8f2fc; 
    --medium-violet: #e9d7ff; 
    --medium-grey: #d3e4e4; 
    --medium-beige: #d2cfcb; 
    --dark-green: #447513; 
    --dark-blue: #0e3a78; 
    --grey-1: #3b3b3b; 
    --grey-2: #767676; 
    --grey-4: #dbdbdb; 
    --grey-5: #efefee; 
    --info-2: #4e86cf; 
    --link: var(--info-2); 
    --beige: var(--soft-beige); 
    --soft-pink: var(--soft-red); 
    --cool-grey-10: var(--soft-grey); 
    --cool-grey-20: var(--medium-grey); 
    --elevation-4: 0px 2px 4px #1414140a,0px 4px 16px #1414140a; 
    --swiper-theme-color: var(--black); 
    --project-item-gradient: var(--soft-teal); 
} 

:root { 
    --primaryFontFamily: "Graphik","Helvetica","Arial","sans-serif","LocalEmojis";
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.container-22t { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 32px; 
    margin: 0 auto; 
    max-width: 1136px; 
    width: 100%;
} 

.section-gy5 { 
    background-color: var(--white); 
    border-radius: 16px; 
    overflow: hidden; 
    padding: 24px; 
    width: 100%;
} 

.css-4sr { 
    width: 100%;
} 

.styles_column__Roc\+4 { 
    display: flex; 
    flex-direction: column; 
    gap: 32px; 
    min-width: 0; 
    width: 100%;
} 

@media (min-width: 1280px){ 
  .column-v4s { 
    width: 357px;
  } 

  .column-2n5 { 
    max-width: calc(100% - 389px);
  } 
}     

.header-rak { 
    align-items: center; 
    display: grid; 
    gap: 23px; 
    max-width: 1136px; 
    width: 100%;
} 

@media (min-width: 750px){ 
  .header-rak { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 8px 0; 
    justify-content: space-between;
  } 
}     

.header-i97 { 
    display: grid; 
    gap: 18px;
} 

@media (min-width: 750px){ 
  .header-i97 { 
    display: flex; 
    gap: 0;
  } 
}     

.section-rnx { 
    overflow: hidden;
} 

.css-2re { 
    border-radius: 16px; 
    background-color: var(--white); 
    width: 100%;
} 

@media (min-width: 0px){ 
  .css-2re { 
    padding: 24px;
  } 
}     

@media (min-width: 600px){ 
  .css-2re { 
    padding: 32px;
  } 
}     

@media (min-width: 960px){ 
  .css-2re { 
    padding: 24px;
  } 
}     

@media (min-width: 1280px){ 
  .css-2re { 
    padding: 32px;
  } 
}     

.section-b8d { 
    background-color: var(--white); 
    border-radius: 16px; 
    padding: 24px;
} 

.css-hkb { 
    background-color: var(--medium-violet); 
    border-radius: 16px;
} 

@media (min-width: 0px){ 
  .css-hkb { 
    padding: 24px;
  } 
}     

@media (min-width: 600px){ 
  .css-hkb { 
    padding: 32px 40px;
  } 
}     

.css-xso { 
    background-color: var(--white); 
    border-radius: 16px;
} 

@media (min-width: 0px){ 
  .css-xso { 
    padding: 24px 0px;
  } 
}     

@media (min-width: 600px){ 
  .css-xso { 
    padding: 32px;
  } 
}     

@media (min-width: 960px){ 
  .css-xso { 
    padding: 24px;
  } 
}     

@media (min-width: 1280px){ 
  .css-xso { 
    padding: 32px;
  } 
}     

a { 
    color: var(--black); 
    -webkit-text-decoration: none; 
    text-decoration: none;
} 

.css-dth { 
    text-decoration: none;
} 

.styles_dashboard-dd4 { 
    align-items: center; 
    cursor: pointer; 
    display: flex; 
    overflow: hidden; 
    text-decoration: none; 
    text-overflow: ellipsis;
} 

@media (min-width: 750px){ 
  .styles_dashboard-dd4 { 
    justify-content: normal; 
    margin-left: auto;
  } 
}     

a:hover { 
    -webkit-text-decoration: underline; 
    text-decoration: underline;
} 

.styles_dashboard-dd4:hover { 
    text-decoration: none;
} 

.css-sfh { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px; 
    border-radius: 0px; 
    padding: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    color: inherit; 
    font-family: Graphik, Helvetica, Arial, sans-serif;
} 

.tra-alo { 
    transition: background-color .25s cubic-bezier(.4,0,.2,1) 0s,box-shadow .25s cubic-bezier(.4,0,.2,1) 0s,border .25s cubic-bezier(.4,0,.2,1) 0s;
} 

.typ-rtl { 
    font-size: 1rem; 
    font-weight: 400;
} 

.typography--of6 { 
    font-size: 1rem; 
    font-weight: 400; 
    letter-spacing: -.005em; 
    line-height: 1.625;
} 

.label-hah { 
    font-weight: 500;
} 

.button-1z9 { 
    align-items: center; 
    border-radius: 500px; 
    display: inline-flex; 
    font-weight: 500; 
    justify-content: center; 
    transition: background-color .25s cubic-bezier(.4,0,.2,1) 0s,box-shadow .25s cubic-bezier(.4,0,.2,1) 0s,border .25s cubic-bezier(.4,0,.2,1) 0s; 
    z-index: 1;
} 

.button-1z9 { 
    -webkit-text-decoration: none; 
    text-decoration: none;
} 

.button-m8x { 
    padding: 11px 20px;
} 

.button-1id { 
    background-color: var(--black); 
    color: var(--white);
} 

.button-4ca { 
    border-radius: 8px;
} 

.header-kzj { 
    white-space: nowrap;
} 

@media (min-width: 750px){ 
  .header-kzj { 
    margin-left: 48px;
  } 
}     

.button-m8x.button-4ca { 
    border-radius: 12px;
} 

.button-1z9,.button-1z9:hover { 
    -webkit-text-decoration: none; 
    text-decoration: none;
} 

.css-pq6 { 
    min-height: 348px;
} 

.wrapper-iro { 
    display: grid; 
    gap: 16px;
} 

@media (min-width: 700px){ 
  .wrapper-iro { 
    grid-template-columns: repeat(2,1fr);
  } 
}     

@media (min-width: 1280px){ 
  .wrapper-iro { 
    grid-template-columns: 1fr;
  } 
}     

.css-oty { 
    margin-bottom: 24px;
} 

.css-ggo { 
    display: flex; 
    flex-direction: column; 
    width: 100%;
} 

h3 { 
    font-weight: 500;
} 

.css-a9b { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px 0px 16px;
} 

.fw-9iz { 
    font-weight: 400!important;
} 

.typography--dt3 { 
    font-size: .8125rem; 
    font-weight: 400; 
    line-height: 1.8461538462;
} 

.title-wip.typography--dt3 { 
    font-size: 1.625rem; 
    font-weight: 500; 
    line-height: 1.5384615385;
} 

.section-zgc { 
    display: flex; 
    flex-direction: column; 
    gap: 16px;
} 

.css-9c8 { 
    display: flex;
} 

@media (min-width: 0px){ 
  .css-9c8 { 
    flex-direction: column; 
    -webkit-box-pack: center; 
    justify-content: center;
  } 
}     

@media (min-width: 600px){ 
  .css-9c8 { 
    flex-direction: row; 
    -webkit-box-pack: justify; 
    justify-content: space-between;
  } 
}     

.css-ooe { 
    margin-top: 32px; 
    display: flex; 
    align-items: flex-end;
} 

.container-doc { 
    padding-inline: 24px;
} 

@media (min-width: 600px){ 
  .container-doc { 
    padding-inline: 0;
  } 
}     

.list-z3g { 
    display: grid; 
    gap: 16px; 
    margin-top: 16px; 
    min-height: 200px; 
    width: 100%;
} 

.post-rg1 { 
    display: flex; 
    justify-content: center; 
    margin-top: 32px;
} 

.css-qnf { 
    display: flex; 
    flex-wrap: wrap; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    gap: 24px; 
    width: 100%;
} 

.css-vab { 
    display: inline-block; 
    margin-left: 16px; 
    margin-right: 16px;
} 

.styles_dashboard-6t8 { 
    align-items: center; 
    display: flex; 
    gap: 8px; 
    max-width: 300px; 
    overflow: hidden;
} 

.carousel-yki { 
    max-width: 100%; 
    position: relative;
} 

.css-1xx { 
    display: flex; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    margin-bottom: 16px;
} 

@media (min-width: 0px){ 
  .css-1xx { 
    align-items: flex-start; 
    flex-direction: column;
  } 
}     

@media (min-width: 960px){ 
  .css-1xx { 
    -webkit-box-align: center; 
    align-items: center; 
    flex-direction: row;
  } 
}     

.css-gdh { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center;
} 

.css-i8x { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 4px 0px 8px;
} 

.wrapper-ig9 { 
    align-items: center; 
    border: 1px solid var(--soft-grey); 
    border-radius: 16px; 
    box-shadow: var(--elevation-4); 
    display: flex; 
    gap: 16px; 
    grid-column: span 1; 
    justify-content: space-between; 
    padding: 16px;
} 

.container-dln { 
    container: space-container/inline-size;
} 

.css-ggo > :not(style):not(style)  { 
    margin: 0px;
} 

.css-ggo > :not(style) ~ :not(style)  { 
    margin-top: 16px;
} 

.container-koc { 
    border: 1px solid var(--soft-grey); 
    border-radius: 16px; 
    box-shadow: var(--elevation-4); 
    display: flex; 
    flex-direction: column; 
    gap: 8px; 
    padding: 8px 8px 24px;
} 

.container-koc:hover { 
    text-decoration: none;
} 

.css-cbg { 
    display: flex; 
    margin-top: 32px; 
    flex-wrap: wrap;
} 

@media (min-width: 0px){ 
  .css-cbg { 
    flex-direction: column;
  } 
}     

@media (min-width: 1280px){ 
  .css-cbg { 
    flex-direction: row;
  } 
}     

.css-c6s { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px;
} 

.sec-5eb { 
    color: var(--grey-1);
} 

.header-jkb { 
    align-items: center; 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 16px;
} 

.header-jkb { 
    padding-inline: 24px;
} 

@media (min-width: 600px){ 
  .header-jkb { 
    padding-inline: 0;
  } 
}     

.text-p99 { 
    -webkit-text-decoration: underline; 
    text-decoration: underline;
} 

.typography--hlh { 
    font-size: 1.25rem; 
    font-weight: 400; 
    letter-spacing: -.002em; 
    line-height: 1.6;
} 

.section-rej { 
    background-color: var(--white); 
    border: 1px solid var(--grey-4); 
    border-radius: 16px; 
    box-shadow: 0 4px 8px #1414140a,0 8px 24px #1414140a; 
    display: flex; 
    flex-direction: column; 
    gap: 24px; 
    overflow: hidden; 
    padding: 16px;
} 

@media (min-width: 600px){ 
  .section-rej { 
    padding: 24px;
  } 
}     

.button-619 { 
    min-width: 64px; 
    padding: 8px 16px;
} 

.button-wx5 { 
    background-color: initial; 
    box-shadow: inset 0 0 0 2px var(--black); 
    color: var(--black);
} 

.button-619.button-4ca { 
    border-radius: 10px;
} 

.button-wx5:hover { 
    background-color: #1414171a;
} 

@media (min-width: 0px){ 
  .css-c49 { 
    width: 100%;
  } 
}     

@media (min-width: 600px){ 
  .css-c49 { 
    width: calc(50% - 16px);
  } 
}     

@media (min-width: 960px){ 
  .css-c49 { 
    width: 100%;
  } 
}     

@media (min-width: 1280px){ 
  .css-c49 { 
    width: calc(50% - 16px);
  } 
}     

hr { 
    border: none; 
    border-top: 1px solid #e4e5eb; 
    width: 100%;
} 

.css-biq { 
    margin: 0px; 
    flex-shrink: 0; 
    border-width: 0px thin 0px 0px; 
    border-style: solid; 
    height: 100%; 
    border-color: var(--grey-4); 
    list-style: none;
} 

.styles_dashboard-header__icon__mYG2i { 
    font-size: 24px;
} 

@media (min-width: 750px){ 
  .styles_dashboard-header__icon__mYG2i { 
    font-size: 32px;
  } 
}     

.display-sn7 { 
    display: block; 
    overflow: hidden; 
    text-overflow: ellipsis;
} 

.styles_dashboard-6t8 p  { 
    border-bottom: 1px dashed #000; 
    font-weight: 400!important;
} 

@media (min-width: 750px){ 
  .styles_dashboard-6t8 p  { 
    border-bottom: none;
  } 
}     

.title-wip.typography--of6 { 
    font-size: 2.25rem; 
    font-weight: 500; 
    line-height: 1.3333333333;
} 

.swi-x77 { 
    display: block; 
    list-style: none; 
    margin-left: auto; 
    margin-right: auto; 
    overflow: clip; 
    padding: 0; 
    position: relative; 
    z-index: 1;
} 

.swiper-mzi { 
    touch-action: pan-y;
} 

.css-i84 { 
    display: flex; 
    -webkit-box-pack: justify; 
    justify-content: space-between;
} 

.css-bqh { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px; 
    flex: 1 1 0%; 
    white-space: nowrap;
} 

.css-m8j { 
    background-color: var(--soft-green);
} 

.wrapper-jcw { 
    align-items: center; 
    border-radius: 50%; 
    display: flex; 
    font-size: 20px; 
    height: 40px; 
    justify-content: center; 
    width: 40px;
} 

.css-dpp { 
    background-color: var(--soft-violet);
} 

.css-74y { 
    background-color: var(--soft-orange);
} 

.card-jnq { 
    background-color: var(--white); 
    border: 1px solid var(--soft-grey); 
    border-radius: 16px; 
    display: grid; 
    gap: 0; 
    column-gap: 24px; 
    grid-template-areas: "img name badge" "img info info" "img desc desc" "img cta cta"; 
    grid-template-columns: 96px 1fr 1fr; 
    overflow: hidden; 
    padding: 24px; 
    row-gap: 0;
} 

.badge-8w7 { 
    grid-template-areas: "img name name" "img info info" "img desc desc" "img cta cta";
} 

.card-jnq { 
    column-gap: 16px; 
    grid-template-areas: "badge badge" "img info" "name name" "desc desc" "cta cta"; 
    grid-template-columns: auto 1fr; 
    padding: 16px;
} 

.item-vgg { 
    padding: 0 16px;
} 

.item-vo2 { 
    align-items: center; 
    display: flex; 
    gap: 8px; 
    padding: 0 16px;
} 

.container-oi1 { 
    height: 80px; 
    position: relative;
} 

.css-cck { 
    display: flex; 
    flex-direction: column; 
    -webkit-box-pack: justify; 
    justify-content: space-between;
} 

.modal-coe { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 8px;
} 

@media (min-width: 600px){ 
  .modal-coe { 
    gap: 16px 8px;
  } 
}     

.wrapper-ick { 
    background-color: var(--white); 
    border-color: var(--grey-5); 
    border-style: solid; 
    border-width: 1px 0; 
    container-name: post-wrapper; 
    container-type: inline-size; 
    overflow: hidden; 
    padding: 16px;
} 

@media (min-width: 600px){ 
  .wrapper-48z { 
    border-radius: 0 0 16px 16px;
  } 

  .wrapper-ick { 
    border-radius: 16px; 
    border-width: 1px;
  } 
}     

.styles_offer-het { 
    background-color: var(--off-white); 
    border: 1px solid var(--grey-5); 
    border-bottom: none; 
    padding: 12px 16px;
} 

@media (min-width: 600px){ 
  .styles_offer-het { 
    border-radius: 16px 16px 0 0;
  } 
}     

.css-ta6 { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 4px 0px 8px 16px; 
    white-space: nowrap;
} 

.wrapper-zty { 
    align-items: flex-start; 
    display: flex; 
    height: 100%; 
    justify-content: space-between;
} 

.wrapper-wzg { 
    box-sizing: initial; 
    display: flex; 
    height: 100%; 
    position: relative; 
    transition-property: transform; 
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial); 
    width: 100%; 
    z-index: 1;
} 

.wrapper-wzg { 
    transform: translateZ(0);
} 

.slide-98m { 
    display: block; 
    flex-shrink: 0; 
    height: 100%; 
    position: relative; 
    transition-property: transform; 
    width: 100%;
} 

.fa-j2m .slide-98m  { 
    -webkit-backface-visibility: hidden;
} 

.fa-j2m .slide-98m  { 
    backface-visibility: hidden; 
    transform: translateZ(0);
} 

.button-nwv { 
    align-items: center; 
    border-radius: 100%; 
    display: inline-flex; 
    justify-content: center; 
    transition: background-color .25s cubic-bezier(.4,0,.2,1) 0s,box-shadow .25s cubic-bezier(.4,0,.2,1) 0s,border .25s cubic-bezier(.4,0,.2,1) 0s; 
    z-index: 1;
} 

.button-nwv { 
    -webkit-text-decoration: none; 
    text-decoration: none;
} 

.button-jbe { 
    display: none;
} 

.button-byi { 
    padding: 11px;
} 

.button-8j6 { 
    border-radius: 100%;
} 

.button-nwv,.button-nwv:hover { 
    -webkit-text-decoration: none; 
    text-decoration: none;
} 

@media (min-width: 960px){ 
  .carousel-vzo { 
    width: calc(100% + 40px);
  } 
}     

.button-ho7 { 
    border-radius: 100px;
} 

.wrapper-9ko { 
    display: flex!important; 
    font-size: 13px!important; 
    gap: 8px; 
    line-height: 24px!important; 
    padding: 4px 16px!important;
} 

.css-o24 { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px; 
    white-space: nowrap; 
    max-width: 100%;
} 

.card-sl6 { 
    grid-area: name;
} 

.card-sl6 { 
    margin-top: 16px;
} 

.no-f96 { 
    -webkit-text-decoration: none!important; 
    text-decoration: none!important;
} 

.typography--q3b { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} 

.css-zpd { 
    display: flex; 
    flex-direction: column; 
    -webkit-box-pack: start; 
    justify-content: flex-start;
} 

.card-qih { 
    flex-direction: row; 
    gap: 16px; 
    grid-area: info;
} 

.card-qih { 
    flex-direction: column; 
    gap: 4px;
} 

.card-idv { 
    grid-area: desc; 
    margin-top: 16px;
} 

.card-idv { 
    margin-top: 0;
} 

.typography--multiline-9nn { 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
} 

.button-haa { 
    grid-area: cta; 
    justify-self: start; 
    margin-top: 16px;
} 

.button-haa { 
    grid-area: cta; 
    justify-self: stretch; 
    margin-top: 16px;
} 

.css-pb6 { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    flex-shrink: 0; 
    width: 40px; 
    height: 40px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-size: 1.25rem; 
    line-height: 1; 
    border-radius: 50%; 
    overflow: hidden; 
    user-select: none;
} 

.avatar-4gg { 
    color: var(--white);
} 

.avatar-4qz { 
    background-color: var(--white);
} 

.avatar-cdz { 
    height: 64px; 
    left: 16px; 
    top: 16px; 
    width: 64px;
} 

h4 { 
    font-weight: 500;
} 

.fw-9lr { 
    font-weight: 500!important;
} 

.style_top-talent-item__location-icon__qLNEz { 
    height: 16px; 
    width: 16px;
} 

.css-fcz { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px 0px 8px;
} 

.content-bw4 { 
    line-height: 1.35;
} 

.content-bw4 { 
    word-wrap: break-word; 
    white-space: pre-wrap;
} 

.css-t25 { 
    margin-bottom: 16px; 
    min-width: 0px; 
    width: 100%;
} 

.modal-coe a  { 
    box-shadow: inset 0 0 0 1px var(--black);
} 

.section-hky { 
    align-items: center; 
    display: flex;
} 

.width-aoh { 
    width: 100%!important;
} 

.button-25t { 
    background-color: initial; 
    color: var(--black);
} 

button.field-if2 { 
    align-items: center; 
    display: flex; 
    height: 100%; 
    justify-content: flex-start; 
    padding: 8px; 
    white-space: nowrap;
} 

@media (min-width: 600px){ 
  button.field-if2 { 
    padding: 8px 16px;
  } 
}     

.wrapper-o8z { 
    display: flex; 
    flex-wrap: wrap; 
    margin-bottom: 16px;
} 

.styles_post-wrapper__content__BXa\+2 { 
    margin-bottom: 16px;
} 

.wrapper-sdw { 
    align-items: stretch; 
    display: flex; 
    flex-direction: column-reverse; 
    gap: 16px; 
    justify-content: space-between;
} 

@media (min-width: 1050px){ 
  .wrapper-sdw { 
    align-items: center; 
    flex-direction: row; 
    gap: 8px;
  } 
}     

.wrapper-2b4 { 
    border-bottom: 1px solid var(--grey-4); 
    display: flex; 
    flex-direction: column; 
    padding-bottom: 24px;
} 

@media (min-width: 600px){ 
  .wrapper-2b4 { 
    flex-direction: row-reverse; 
    justify-content: space-between;
  } 
}     

@media (min-width: 960px){ 
  .wrapper-2b4 { 
    flex-direction: column;
  } 
}     

@media (min-width: 1280px){ 
  .wrapper-2b4 { 
    flex-direction: row-reverse; 
    justify-content: space-between;
  } 
}     

.css-12h { 
    width: auto; 
    margin-top: 16px; 
    word-break: break-word;
} 

.wrapper-d2c { 
    flex: 0 0 72px; 
    height: 72px; 
    margin-left: 16px;
} 

.css-bb5 { 
    background-color: var(--soft-orange); 
    background-image: url("https://d1m1s6un1a8qgj.cloudfront.net/static/dashboard/first-step-card-pattern-3.svg");
} 

.card-zg7 { 
    align-items: flex-start; 
    background-size: cover; 
    border-radius: 10px; 
    display: flex; 
    flex: 1; 
    flex-direction: column; 
    justify-content: space-between; 
    min-height: 114px; 
    padding: 16px;
} 

@media (min-width: 600px){ 
  .card-zg7 { 
    max-width: 216px; 
    min-height: 272px; 
    padding: 32px;
  } 
}     

.css-5kz { 
    background-color: var(--soft-violet); 
    background-image: url("https://d1m1s6un1a8qgj.cloudfront.net/static/dashboard/first-step-card-pattern-2.svg");
} 

.css-glv { 
    background-color: var(--soft-green); 
    background-image: url("https://d1m1s6un1a8qgj.cloudfront.net/static/dashboard/first-step-card-pattern-1.svg");
} 

.avatar-o4x { 
    background-color: var(--off-white); 
    border: 1px solid var(--medium-beige); 
    flex-shrink: 0; 
    overflow: hidden;
} 

.image-csp { 
    grid-area: img;
} 

.avatar-o4x.sty-w1y { 
    border-radius: 12px; 
    height: 72px; 
    width: 72px;
} 

.css-i18 { 
    display: flex; 
    gap: 4px; 
    -webkit-box-align: center; 
    align-items: center; 
    white-space: nowrap; 
    overflow: hidden;
} 

.css-kca { 
    overflow: hidden; 
    pointer-events: none; 
    position: absolute; 
    z-index: 0; 
    inset: 0px; 
    border-radius: inherit;
} 

.style_top-talent-item__avatar-background__bGFQD { 
    position: absolute;
} 

.container-oi1 svg  { 
    height: 48px; 
    width: 100%;
} 

img { 
    max-width: 100%;
} 

.css-nhk { 
    width: 100%; 
    height: 100%; 
    text-align: center; 
    object-fit: cover; 
    color: transparent; 
    text-indent: 10000px;
} 

.modal-ro1 { 
    border: 1px solid var(--grey-2); 
    border-radius: 30px; 
    display: flex; 
    margin-bottom: 16px; 
    max-width: 400px; 
    padding: 0 0 0 14px;
} 

@media (min-width: 400px){ 
  .modal-qei { 
    padding: 8px 0 8px 16px;
  } 
}     

@media (min-width: 600px){ 
  .modal-ro1 { 
    padding: 0 6px 0 20px;
  } 

  .modal-qei { 
    padding: 8px 0 8px 18px;
  } 
}     

.button-6w4 { 
    min-width: 56px; 
    padding: 4px 16px;
} 

.button-1z9 .icon-kr1  { 
    display: inherit;
} 

.button-1z9 .icon-wpq  { 
    margin-left: -4px; 
    margin-right: 8px;
} 

.style_sanitized-content__kF\ + cj.style_no-p-i2i p { 
    margin: 0!important;
} 

.grey-li1 { 
    color: var(--grey-1);
} 

.button-1z9 .icon-hw4  { 
    margin-left: 8px; 
    margin-right: -4px;
} 

.css-4fo { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    white-space: nowrap;
} 

.css-3fw { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px; 
    padding-left: 8px;
} 

.inh-15h { 
    color: inherit;
} 

.wrapper-8dr { 
    align-items: flex-start; 
    display: flex; 
    flex-shrink: 0; 
    gap: 4px;
} 

.title-frb { 
    hyphens: auto; 
    overflow-wrap: anywhere; 
    text-decoration: none;
} 

.text-ppl { 
    font-size: 16px; 
    margin-top: 4px; 
    overflow-wrap: anywhere; 
    white-space: pre-line;
} 

@media (min-width: 600px){ 
  .text-ppl { 
    font-size: 20px; 
    line-height: 32px;
  } 
}     

.section-4dg { 
    align-items: center; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: space-between; 
    min-height: 40px; 
    width: 100%;
} 

.css-zew { 
    display: flex; 
    align-items: flex-start; 
    gap: 8px; 
    margin-top: 16px;
} 

.css-y4v { 
    margin-top: 16px; 
    overflow: hidden;
} 

.css-kq5 { 
    margin-top: 19.2px;
} 

.css-18y { 
    margin-top: 8px;
} 

.styles_first-steps-section__copy__yDL\+G { 
    margin-bottom: 8px; 
    max-width: 292px;
} 

.section-je8 { 
    margin: 10px 0 4px;
} 

.css-51g { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px; 
    display: block;
} 

.carousel-item-8ap { 
    background-color: var(--white); 
    display: flex; 
    flex-direction: column; 
    height: 344px; 
    padding: 24px; 
    position: relative; 
    width: 300px;
} 

@media (min-width: 600px){ 
  .carousel-item-8ap { 
    width: 362px;
  } 
}     

.style_icon__cwazO { 
    height: 16px; 
    width: 16px;
} 

.css-wgt { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px; 
    height: 100%; 
    -webkit-box-flex: 1; 
    flex-grow: 1;
} 

.css-ozo { 
    position: relative; 
    display: inline-flex; 
    vertical-align: middle; 
    flex-shrink: 0;
} 

.badge-cc6 { 
    height: 100%; 
    width: 100%;
} 

.badge-a26 { 
    z-index: 6;
} 

.css-a3v.MuiBadge-q1y { 
    transform: scale(0) translate(50%, -50%);
} 

.wrapper-zrf { 
    align-items: flex-start; 
    display: flex; 
    flex: 1; 
    flex-direction: column; 
    gap: 8px; 
    overflow: hidden; 
    text-overflow: ellipsis;
} 

.css-7h3 { 
    padding: 8px 16px; 
    border-radius: 8px; 
    background-color: var(--medium-green); 
    color: var(--dark-green);
} 

.css-l2c { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px -12px 0px 0px; 
    border-radius: 0px; 
    padding: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    color: inherit; 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    align-self: flex-start;
} 

.button-go9 { 
    padding: 12px;
} 

.text-ppl p  { 
    margin: 0;
} 

.section-edz { 
    align-items: center; 
    display: flex; 
    gap: 8px; 
    width: 100%;
} 

.section-edz { 
    width: auto;
} 

.css-rdp { 
    padding: 8px 16px; 
    border-radius: 8px; 
    background-color: var(--medium-blue); 
    color: var(--dark-blue);
} 

.css-fx4 { 
    display: flex; 
    flex-direction: column; 
    gap: 16px; 
    position: relative;
} 

.button-xmx { 
    background-color: var(--white); 
    box-shadow: inset 0 0 0 1px var(--black); 
    color: var(--black);
} 

.logo-g5h { 
    align-self: flex-start; 
    color: #3b71a6; 
    display: block; 
    font-size: 0; 
    font-weight: 700; 
    line-height: 1; 
    text-align: center; 
    text-decoration: none;
} 

@media (min-width: 600px){ 
  .logo-g5h { 
    align-self: auto; 
    display: initial; 
    text-align: initial;
  } 
}     

.section-2sq { 
    display: inline-block; 
    width: fit-content;
} 

.carousel-item-qyb { 
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    justify-content: space-between; 
    margin-top: 24px; 
    width: 100%;
} 

.button-1z9 .icon-kr1 > svg  { 
    font-size: 20px;
} 

.wrapper-6oy { 
    align-items: center; 
    display: flex; 
    width: 100%;
} 

.header-acq { 
    align-items: flex-start; 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    overflow: hidden; 
    width: 100%;
} 

@media (min-width: 600px){ 
  .header-acq { 
    align-items: center; 
    flex-direction: row;
  } 
}     

.style_bookmark__\+2GdK { 
    color: var(--black);
} 

.button-i4i { 
    background-color: var(--white); 
    box-shadow: inset 0 0 0 1px var(--soft-beige);
} 

.section-edz > button  { 
    line-height: normal; 
    padding-block: 6px; 
    width: 100%;
} 

.section-edz > button  { 
    min-width: 58px; 
    width: auto;
} 

.button-6w4.button-4ca { 
    border-radius: 8px;
} 

.tooltip-ioj:hover { 
    background-color: var(--grey-4);
} 

.button-i4i:hover { 
    box-shadow: inset 0 0 0 1px var(--black);
} 

.css-qpp { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px; 
    border-radius: 0px; 
    padding: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    color: inherit; 
    font-family: Graphik, Helvetica, Arial, sans-serif;
} 

.css-qpp:hover { 
    background-color: var(--grey-4);
} 

.field-3st { 
    flex: 1; 
    height: 100%; 
    min-height: 48px; 
    position: relative;
} 

@media (min-width: 600px){ 
  .field-3st { 
    min-height: 58px;
  } 
}     

.css-f7v { 
    display: flex; 
    flex-direction: column; 
    gap: 8px;
} 

.carousel-item-o8h { 
    display: flex; 
    gap: 1rem; 
    justify-content: space-between;
} 

.carousel-item-cys { 
    z-index: 2;
} 

.carousel-item-eh1 { 
    height: 100%; 
    left: 0; 
    position: absolute; 
    top: 0; 
    width: 100%;
} 

.button-6w4 .icon-kr1 > svg  { 
    font-size: 16px!important;
} 

.css-3wc { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    flex-shrink: 0; 
    width: 40px; 
    height: 40px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-size: 1.25rem; 
    line-height: 1; 
    border-radius: 50%; 
    overflow: hidden; 
    user-select: none; 
    color: rgb(255, 255, 255); 
    background-color: rgb(189, 189, 189);
} 

.avatar-5o4 { 
    border: 6px solid var(--white);
} 

.avatar-1c7 { 
    background-color: var(--dark-blue);
} 

.avatar-5o4.styles_no-1ad { 
    border: none; 
    box-shadow: none;
} 

.avatar-5o4.styles_no-9jt { 
    border: none;
} 

.css-bk1 { 
    overflow: hidden;
} 

.header-bj7 { 
    align-items: center; 
    display: flex; 
    flex-shrink: 0; 
    flex-wrap: wrap; 
    gap: 4px; 
    max-width: 100%; 
    min-width: 0; 
    white-space: nowrap;
} 

@media (min-width: 600px){ 
  .header-bj7 { 
    flex-shrink: 1; 
    gap: 0; 
    min-width: 30%;
  } 
}     

@media (min-width: 960px){ 
  .header-bj7 { 
    min-width: 40%;
  } 
}     

.wrapper-hoo { 
    padding-left: 8px;
} 

.css-1hm { 
    display: flex; 
    flex-direction: row; 
    gap: 8px; 
    -webkit-box-pack: end; 
    justify-content: end; 
    -webkit-box-align: center; 
    align-items: center;
} 

.wrapper-tbs { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 8px; 
    position: relative;
} 

.css-zjg { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-self: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    background-color: var(--medium-violet);
} 

.carousel-item-lgl { 
    border: 1px solid var(--soft-violet); 
    border-radius: 12px; 
    height: 72px; 
    min-width: 72px; 
    overflow: hidden; 
    padding: 19px; 
    width: 72px;
} 

.css-eoi { 
    display: flex;
} 

.css-1fo { 
    display: flex; 
    -webkit-box-pack: end; 
    justify-content: flex-end; 
    margin-top: 8px;
} 

.css-lk8 { 
    display: flex; 
    gap: 8px 24px; 
    flex-wrap: wrap;
} 

.css-4ad { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-self: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    background-color: var(--yellow);
} 

.css-m3j { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-self: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    background-color: var(--soft-red);
} 

.css-sei { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-self: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    background-color: var(--soft-blue);
} 

.css-b4o { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-self: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    background-color: var(--medium-blue);
} 

.ter-qb9 { 
    color: var(--grey-2);
} 

.header-5n6 { 
    color: var(--grey-2); 
    font-weight: 500; 
    margin-inline: 4px;
} 

.label-rw6 { 
    align-items: center; 
    display: flex; 
    gap: 4px;
} 

.css-gaz { 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    cursor: initial;
} 

.css-83l { 
    position: relative; 
    -webkit-box-flex: 1; 
    flex-grow: 1; 
    display: flex;
} 

.css-nhd { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    flex-shrink: 0; 
    width: 40px; 
    height: 40px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-size: 1.25rem; 
    line-height: 1; 
    overflow: hidden; 
    user-select: none; 
    border-radius: 0px; 
    color: rgb(255, 255, 255); 
    background-color: rgb(189, 189, 189);
} 

.avatar-8oa { 
    background-color: initial;
} 

.avatar-lnj { 
    height: 100%; 
    width: 100%;
} 

.css-fkn { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    height: fit-content;
} 

h5 { 
    font-weight: 500;
} 

.capitalize-first-olx:first-letter { 
    text-transform: capitalize;
} 

.css-snk { 
    display: flex; 
    align-items: flex-start;
} 

.css-cex { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    flex-shrink: 0; 
    width: 40px; 
    height: 40px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-size: 1.25rem; 
    line-height: 1; 
    overflow: hidden; 
    user-select: none; 
    border-radius: 0px;
} 

.css-6kt { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px 16px 0px 0px; 
    border-radius: 0px; 
    padding: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    color: inherit; 
    font-family: Graphik, Helvetica, Arial, sans-serif;
} 

.wrapper-4pp { 
    display: block!important; 
    margin-right: 16px; 
    min-width: 0!important; 
    padding: 0!important;
} 

.avatar-qco { 
    height: 48px; 
    width: 48px;
} 

.avatar-5o4.sty-tz1 { 
    border-width: 3px;
} 

.input-es6 { 
    padding-block: 11px; 
    padding-inline: 8px 0;
} 

@media (min-width: 600px){ 
  .input-es6 { 
    padding-block: 16px;
  } 
}     

.input-es6 { 
    height: 100%;
} 

.input-m92 { 
    caret-color: #050505; 
    font-size: 13px; 
    outline: 0; 
    resize: none; 
    tab-size: 1; 
    width: 100%;
} 

@media (min-width: 600px){ 
  .input-m92 { 
    font-size: 16px;
  } 
}     

.post-cfh { 
    align-items: center; 
    border-radius: 16px; 
    display: flex; 
    gap: 16px; 
    height: 96px; 
    max-width: 225px; 
    padding: 16px; 
    position: relative; 
    width: 100%;
} 

.image-1c1 { 
    background-color: var(--off-white);
} 

.css-am1 { 
    display: flex; 
    flex-direction: column; 
    min-width: 0px; 
    overflow: hidden;
} 

.button-z2n { 
    padding: 8px;
} 

.carousel-item-t8x { 
    margin-left: 8px; 
    margin-right: 12px; 
    padding: 0!important;
} 

.container-2f9 { 
    pointer-events: none; 
    position: relative;
} 

.css-6qp { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px 0px 0px 6px; 
    white-space: normal; 
    overflow-wrap: break-word; 
    z-index: 1;
} 

.css-aed { 
    display: flex; 
    padding-top: 3px; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center;
} 

.sty-qa9 { 
    padding-block: 11px; 
    padding-inline: 8px 0;
} 

@media (min-width: 600px){ 
  .sty-qa9 { 
    padding-block: 16px;
  } 
}     

.sty-qa9 { 
    display: inline-block;
} 

.css-cob { 
    width: 64px; 
    height: 64px; 
    background-color: var(--white); 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    flex-shrink: 0;
} 

.image-1c1 > div:first-child  { 
    border-radius: 4px;
} 

.post-cfh .label-hah  { 
    font-weight: 500;
} 

.css-9rh { 
    font-family: Graphik, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    margin: 0px; 
    color: var(--grey-1);
} 

.css-38s { 
    padding: 4px 12px; 
    gap: 4px; 
    border-radius: 5px; 
    background-color: var(--medium-orange); 
    display: flex; 
    -webkit-box-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    align-items: center;
} 

.styles_job-for-you-carousel-item__save-job__jUnl\+ { 
    bottom: 1.5px;
} 

.button-69m { 
    background-color: initial; 
    color: var(--black);
} 

.container-2f9 button  { 
    pointer-events: auto;
} 

button.button-8p5 { 
    padding: 8px;
} 

.button-69m:hover { 
    background-color: #0000001f;
} 

.container-3oi { 
    display: block; 
    inset: 0; 
    pointer-events: none; 
    position: absolute; 
    z-index: 1;
} 

.css-74t { 
    display: inline-block; 
    padding-left: 5px; 
    padding-right: 5px;
} 

.css-2o2 { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center;
} 

.style_editor-oeb { 
    margin: 0 0 8px; 
    position: relative;
} 

.style_editor-oeb:last-child { 
    margin-bottom: 0;
} 

.container-52x { 
    border-radius: 4px; 
    height: 100%; 
    max-height: 400px; 
    overflow: hidden; 
    width: 100%;
} 

.style_sparkle__pRvv6 { 
    display: block; 
    opacity: 0; 
    position: absolute;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-xMcMH.style-xMcMH {  
   height: 48px;  
}  
#style-WOvJb.style-WOvJb {  
   transition-duration: 0ms;  
    transition-delay: 0ms;  
    transform: translate3d(26px, 0px, 0px);  
}  
#style-ANAXR.style-ANAXR {  
   height: auto;  
    width: fit-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 32px;  
}  
#style-MPNsU.style-MPNsU {  
   height: auto;  
    width: fit-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 32px;  
}  
#style-feYib.style-feYib {  
   height: auto;  
    width: fit-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 32px;  
}  
#style-ZaQ8b.style-ZaQ8b {  
   height: auto;  
    width: fit-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 32px;  
}  
#style-KsrmL.style-KsrmL {  
   opacity: 1;  
}  
#style-Znrd5.style-Znrd5 {  
   margin-right: 8px;  
}  
#style-LY3Ya.style-LY3Ya {  
   padding: 2px;  
}  
#style-2ORVh.style-2ORVh {  
   cursor: grab;  
    transform: translate3d(0px, 0px, 0px);  
}  
#style-sDGf5.style-sDGf5 {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-B3at7.style-B3at7 {  
   display: flex;  
}  
#style-xhnCe.style-xhnCe {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-hjXp7.style-hjXp7 {  
   display: flex;  
}  
#style-3lkHY.style-3lkHY {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-UY9gU.style-UY9gU {  
   display: flex;  
}  
#style-HtrpK.style-HtrpK {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-76XUp.style-76XUp {  
   display: flex;  
}  
#style-YQ8k9.style-YQ8k9 {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-vdFOL.style-vdFOL {  
   display: flex;  
}  
#style-iladO.style-iladO {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-CzCLj.style-CzCLj {  
   display: flex;  
}  
#style-oMCRt.style-oMCRt {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-RsXPs.style-RsXPs {  
   display: flex;  
}  
#style-ANWM5.style-ANWM5 {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-ycOC4.style-ycOC4 {  
   display: flex;  
}  
#style-U67WY.style-U67WY {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-NxoBD.style-NxoBD {  
   display: flex;  
}  
#style-E2PoB.style-E2PoB {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-GYocK.style-GYocK {  
   display: flex;  
}  
#style-2lQGh.style-2lQGh {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-qMd7y.style-qMd7y {  
   display: flex;  
}  
#style-eVZUr.style-eVZUr {  
   height: auto;  
    width: min-content;  
    overflow: hidden;  
    border-radius: 16px;  
    margin-right: 24px;  
}  
#style-ZKp6K.style-ZKp6K {  
   display: flex;  
}  
#style-B5mBH.style-B5mBH {  
   -webkit-line-clamp: 2;  
}  
#style-75iS4.style-75iS4 {  
   -webkit-line-clamp: 2;  
}  
#style-d9ElJ.style-d9ElJ {  
   -webkit-line-clamp: 2;  
}  
#style-3JPDG.style-3JPDG {  
   flex-shrink: 0;  
}  
#style-JSQ3G.style-JSQ3G {  
   line-height: 24px;  
}  
#style-FYB8W.style-FYB8W {  
   text-decoration:underline;  
}  
#style-ZVdO1.style-ZVdO1 {  
   display: inline-block;  
    font-size: 16px;  
    overflow: hidden;  
    line-height: initial;  
}  
#style-bjFQo.style-bjFQo {  
   display: inline-block;  
    font-size: 16px;  
    overflow: hidden;  
    line-height: initial;  
}  
#tex-fpp.style-fqtnE {  
   display: none;  
    visibility: hidden;  
}  
#style-PZfm1.style-PZfm1 {  
   user-select: text;  
    white-space: pre-wrap;  
    word-break: break-word;  
}  
#style-ZQz67.style-ZQz67 {  
   display: inline-block;  
    font-size: 16px;  
    overflow: hidden;  
    line-height: initial;  
}  
#style-xjMvv.style-xjMvv {  
   display: inline-block;  
    font-size: 16px;  
    overflow: hidden;  
    line-height: initial;  
}  
#tex-fpp.style-nYEWo {  
   display: none;  
    visibility: hidden;  
}  
#style-2ybbx.style-2ybbx {  
   user-select: text;  
    white-space: pre-wrap;  
    word-break: break-word;  
}  
#style-5MOTh.style-5MOTh {  
   display: inline-block;  
    font-size: 16px;  
    overflow: hidden;  
    line-height: initial;  
}  
#style-3HnVl.style-3HnVl {  
   display: inline-block;  
    font-size: 16px;  
    overflow: hidden;  
    line-height: initial;  
}  
#tex-fpp.style-TM3iZ {  
   display: none;  
    visibility: hidden;  
}  
#style-lV9rl.style-lV9rl {  
   user-select: text;  
    white-space: pre-wrap;  
    word-break: break-word;  
}  
#style-yIaNn.style-yIaNn {  
   background-image: url("https://d1m1s6un1a8qgj.cloudfront.net/media/cache/b9/cb/b9cb9602962add2523adf35baa56a416.png");  
}  
#style-qbiv4.style-qbiv4 {  
   background-image: url("https://d1m1s6un1a8qgj.cloudfront.net/media/cache/97/f6/97f6e70d53081744c0fcb84a238a292a.png");  
}  
#style-p1Wod.style-p1Wod {  
   background-image: url("https://d1m1s6un1a8qgj.cloudfront.net/media/cache/dc/8e/dc8ea26d49d96a9459870559cfbf2f82.png");  
}  
